{% extends 'loggedinbase.html' %}

{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block body %}
<div class="balancebox">
    <h1>Balance</h1>
    <p>{{balance}}</p>
</div>
<div class="transbox">
    <h1>Transactions</h1>
    <a href="{{ url_for('create_trans_page') }}">Add Transaction</a>
    <table>
        <tr>
            <th class="tablehead">Account</th>
            <th class="tablehead">Date</th>
            <th class="tablehead">Category</th>
            <th class="tablehead">Amount</th>
        </tr>
        {% for trans in transactions %}
        <tr>
            <th>{{ trans.get("Account") }}</th>
            <th>{{ trans.get("Date") }}</th>
            <th>{{ trans.get("Category") }}</th>
            <th>
                {% if trans.get("Pos") == True %}
                +
                {% else %}
                -
                {% endif %}
                {{ trans.get("Amount") }}
            </th>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}