{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
<div class="loginbox">
    <h1>Login</h1>
    <form action="/login" method="POST">
        <div class="logininputs">
            <input type="text" id="Username" name="Username" placeholder="Username">
            <input type="text" id="Password" name="Password" placeholder="Password">
            <input type="submit" name="login_button" value="Login">
            <input type="submit" name="signup_button" value="Signup">
            {% if pass_correct == "False" %}
            <p>Incorrect password. Please try again.</p>
            {% endif %}
            {% if account_exists == "False" %}
            <p>Account doesn't exist. Please try again.</p>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}