{% extends 'access_base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
<div class="formbox">
    <h1>Login</h1>
    <form action="{{ url_for('access.signin_page') }}" method="POST">
        <div class="forminputs">
            <input type="text" id="Username" name="Username" placeholder="Username">
            <input type="password" id="Password" name="Password" placeholder="Password">
            <input type="submit" name="login_button" value="Login">
            <input type="submit" name="signup_button" value="Signup">
            {{ error_message }}
        </div>
    </form>
</div>
{% endblock %}