{% extends 'access_base.html' %}

{% block head %}
<title>Signup</title>
{% endblock %}

{% block body %}
<div class="container-sm">
    <div class="row justify-content-center">
        <div class="col-4">
            <h1 class="text-center fs-3">Signup</h1>
            <form action="{{ url_for('access.signup_page') }}" method="POST">
                <div class="mb-3">
                    <label for="Username" class="form-label">Username</label>
                    <input class="form-control" type="text" id="Username" name="Username" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label">Password</label>
                    <input class="form-control" type="password" id="Password" name="Password" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="RePassword" class="form-label">Reenter Password</label>
                    <input class="form-control" type="password" id="RePassword" name="RePassword" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="initial_balance" class="form-label">Initial Balance</label>
                    <input class="form-control" type="text" id="initial_balance" name="initial_balance" placeholder="">
                </div>
                <div class="mb-3">
                    <input class="form-control btn btn-primary" type="submit" name="signup_button" value="Register">
                </div>
                <div class="mb-3">
                    <p>{{ error_message }}</p>
                </div>
            </form>
        </div>
    </div>
</div>
    
{% endblock %}